<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title> 
	<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	<link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container" style="margin-top:40px">
		<div class="row">
			{{{body}}}
		</div>
	</div>
</body>

</html>