<p class="text-muted">404 - Not Found</p>
<p class="text-primary">404 - Not Found</p>
<p class="text-success">404 - Not Found</p>
<p class="text-info">404 - Not Found</p>
<p class="text-warning">404 - Not Found</p>
<p class="text-danger">404 - Not Found</p>