<p class="text-muted">Welcome to Meadowlark Travel</p>
<p class="text-primary">Welcome to Meadowlark Travel</p>
<p class="text-success">Welcome to Meadowlark Travel</p>
<p class="text-info">Welcome to Meadowlark Travel</p>
<p class="text-warning">Welcome to Meadowlark Travel</p>
<p class="text-danger">Welcome to Meadowlark Travel</p>